<p>
  <strong>Product:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<ul class="list-group">
  <% @product.reviews.each do |review| %>
    <li class="list-group-item">
      <h3>
        <%= review.content %>
        <% if can? :destroy, review %>
          <%= link_to "Delete", product_review_path(@product, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right" %>
        <% end %>
        <% if can? :edit, review %>
          <%= link_to "Edit", edit_product_review_path(@product, review), class: "btn btn-warning pull-right" %>
        <% end %>
      </h3>
    </li>
  <% end %>
</ul>

<% if can? :manage, @product %>
  <%= link_to 'Edit Product', edit_product_path(@product) %> |
<% elsif current_user %>
  <%= link_to 'Review this product', new_product_review_path(@product) %> |
<% end %>

<%= link_to 'Back', products_path %>
