<!DOCTYPE html>
<html>
  <head>
    <title>Son Of Cod</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
          <li><%= link_to 'Products', products_path %></li>
          <% if can? :manage, Product.all %>
            <li><%= link_to 'Add Product', new_product_path %></li>
          <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <li><%= current_user.email %> is logged in</li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>
      </ul>
    </div>
    <div class="container">
      <p id="notice" style="color: green"><%= flash[:notice] %></p>
      <p id="alert" style="color: red"><%= flash[:alert] %></p>
      <%= yield %>
    </div>
  </body>
</html>
